# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js
.next/
out/

# Production
build/

# Misc
.DS_Store
*.pem

# Environment variables
.env*.local
.env

# Vercel
.vercel

# OCR service
ocr-service/venv/
ocr-service/__pycache__/
ocr-service/*.log
*.model
*.pdparams
*.pdopt
*.pdmodel
